<div class="container">
  <div class="row">
    <div class="col col1">
      <h1 class="heading">Our Story</h1>
      <p>We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given
        situations where they had to come up with wacky and fun excuses. The person with the best excuse won the Best
        Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is
        the Tastiest Pan Pizza Ever!.</p>
      <a span class="spann2">Read More..</a>
      <span class="spann">Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the
        softest,
        cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the middle of a
        performance and even finding excuses to be disqualified in a football match.</span>
      <span class="spann">We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given
        situations where they
        had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won
        Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza.
        Ever!</span>
    </div>
  </div>
  <div id="section2">
    <div class="row">
      <div class="col" >
        <img src="https://food.unl.edu/newsletters/images/mise-en-plase.jpg" class="img">
      </div>
      <div class="col">
        <h3 class="heading">Ingredients</h3>
        <p class="txt">We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight from the
          farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While they're still young
          and
          fresh - that's our motto. It makes the kitchen a better place.</p>
      </div>
    </div>
  </div>

  <div id="section3">
    <div class="row">
      <div class="col order-2">
        <h3 class="heading">Our Chefs</h3>
        <p>Our Chefs They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and
          stirring spoons (among other things). They make goodness so good, it doesn't know what to do with itself. We
          do
          though. We send it to you.</p>
      </div>
      <div class="col order-1">
        <img class="img2"
          src="https://media.istockphoto.com/photos/bakery-chef-cooking-bake-in-the-kitchen-professional-picture-id820461028?k=20&m=820461028&s=612x612&w=0&h=4bjdxRAKBeRh5P3ZbnYllBSPgd0UZfXbF3EsGA1IHVQ=">
      </div>
    </div>
  </div>

  <div id="section4">
    <div class="row">
      <img src="../../assets/images/time.png" class="col order-2 img4">
      <div class="col col4 order-1">
        <p>45 Minute Delivery</p>
      </div>
    </div>
  </div>
